.imgDivDiv {

  margin-bottom: 2vh; 
}

.imgDiv {

  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 5px;
}

.image {

  width: 100%;
}